MONGODB_URI=mongodb://localhost:3000
MONGODB_DB=azure_food_shop
JWT_SECRET=secret_key
ACS_EMAIL_CONNECTION_STRING=endpoint=https://YOUR-ACS.communication.azure.com/;accesskey=YOUR_KEY
ACS_EMAIL_SENDER=DoNotReply@YOUR-MANAGED-DOMAIN.azurecomm.net
ADMIN_EMAIL=admin@example.com
AZURE_STORAGE_CONNECTION_STRING=DefaultEndpointsProtocol=https;AccountName=...
AZURE_STORAGE_CONTAINER=product-images
NEXT_PUBLIC_APP_NAME=Azure Food Shop
